{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Categoria - {{ block.super }}

{% endblock title %}

{% block body %}
{{ block.super }}
    <div class="container">
        <br />
    
        <div class="row">
            <div class ="col-md-12" id=gbOpacity>
                <h2><b>Cadastro de Categoria</b></h2>
                </br>
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.name.id_for_label }}">Nome</label>
                   {{ form.name|add_class:"form-control" }}
                </div>
                </br>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Descricao</label>
                    {{ form.description|add_class:"form-control" }}
                </br>
                 </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
        </br>
    </div>

{% endblock body %}