
{% extends 'base.html' %}

{% block title %}

    Lista de Sinais Vitais - {{ block.super }}

{% endblock title %}

{% block body %}
{{ block.super }}
    <div class="container">
        <br />
        <h5><b>Lista de Sinais Vitais</b></h5>
        <div class="row">
            <div class ="col-md-12">
            <br />
            <br />
            <a href="{% url 'vital_signs:add_vital_sign' %}">Cadastro de Sinais Vitais</a>
            <br />
            <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Frequência Cardíaca</th>
                    <th scope="col">Frequência Respiratória</th>
                    <th scope="col">Temperatura Corporal</th>
                    <th scope="col">Pressão Arterial</th>
                    <th scope="col">Data Medição</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for vital_sign in vital_signs %}
                        <tr>
                            <th scope="row">{{ vital_sign.id }}</th>
                            <td>{{ vital_sign.patient }}</td>
                            <td>{{ vital_sign.heart_rate }}</td>
                            <td>{{ vital_sign.respiratory_frequency }}</td>
                            <td>{{ vital_sign.body_temperature }}</td>
                            <td>{{ vital_sign.blood_pressure }}</td>
                            <td>{{ vital_sign.date }}</td>
                            <td>    
                                <a href="{% url 'vital_signs:delete_vital_sign' vital_sign.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}