
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <title>{% block title %}Saude APP{% endblock title %}</title>
</head>
<body>

    
    {% block body %}
    
<!-- INICIO: Bloco do Bootstrap a ser incluido -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Saude App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  <li><a class="dropdown-item" href="{% url 'health_professionals:list_health_professionals' %}">Health Professionals</a></li>
                  <li><a class="dropdown-item" href="{% url 'patients:list_patients' %}">Patients</a></li>
                  <li><a class="dropdown-item" href="{% url 'anamnesis:list_anamnesis' %}">Anamnesis</a></li>
                  <li><a class="dropdown-item" href="#">Patient Evolution</a></li>
                  <li><a class="dropdown-item" href="#">Vital Signs</a></li>
                  <li><a class="dropdown-item" href="#">Administered Medicines</a></li>
                  <li><a class="dropdown-item" href="{% url 'medicines:list_medicines' %}">Medicines</a></li>
                  <li><a class="dropdown-item" href="{% url 'categories:list_categories' %}">Categories</a></li>
                  <li><a class="dropdown-item" href="#">Doctors Prescription</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">{{ user.get_full_name|default:user.username }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  <li><a class="dropdown-item" href="{% url 'auth_users:user_change_information' user.username %}">Editar Conta</a></li>
                  <li><a class="dropdown-item" href="{% url 'auth_users:user_change_password' %}">Trocar senha</a></li>
                  <li><a class="dropdown-item" href="{% url 'auth_users:add_user' %}">Adicionar Conta</a></li>
                  <li><a class="dropdown-item" href="{% url 'auth_users:user_logout' %}">Sair</a></li>
                </ul>
              </li>
    </div>
    {% endif %}
</nav>
<!-- FIM: Bloco do Bootstrap a ser incluido -->
    {% endblock body %}
    
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
</body>
</html>