{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Médico - {{ block.super }}

{% endblock title %}

{% block body %}
{{ block.super }}
<div class="container">
        <br />
    
        <div class="row">
            <div class ="col-md-12" id=gbOpacity>
                <h2><b>Cadastro de Profissional da Saúde</b></h2>
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.crm.id_for_label }}">CRM</label>
                    {{ form.crm|add_class:"form-control" }}
                 </div>
                <div class="form-group">
                   <label for="{{ form.first_name.id_for_label }}">Nome</label>
                   {{ form.first_name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
                    {{ form.last_name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.address.id_for_label }}">Endereco</label>
                    {{ form.address|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ form.cell_phone.id_for_label }}">Telefone</label>
                  {{ form.cell_phone|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">E-mail</label>
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.gender.id_for_label }}">Genero</label>
                    {{ form.gender|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.medical_speciality.id_for_label }}">Especialidade</label>
                    {{ form.medical_speciality|add_class:"form-control" }}
                <br />
                </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
        <br />
    </div>

{% endblock body %}