{% extends 'base.html' %}

{% block title %}

    Lista de Profissionais da Saúde - {{ block.super }}

{% endblock title %}

{% block body %}
{{ block.super }}
    <div class="container">
        <br />
        
        <div class="row">
            <div class ="col-md-12" id=gbOpacity>
                <h2><b>Lista de Profissionais da Saúde</b></h2>
                <br />
                    <a href="{% url 'health_professionals:add_health_professionals' %}">Cadastro de novo Profissional da Saúde</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CRM</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Especialidade</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for health_professional in health_professionals %}
                        <tr>
                            <th scope="row">{{ health_professional }}</th>
                            <td>{{ health_professional.crm }}</td>
                            <td>{{ health_professional.address }}</td>
                            <td>{{ health_professional.cell_phone }}</td>
                            <td>{{ health_professional.email }}</td>
                            <td>{{ health_professional.gender }}</td>
                            <td>
                                {% for professional_specialty in professional_specialties %}
                                    {% if professional_specialty.health_professional.id == health_professional.id %}
                                        <li>{{ professional_specialty.specialty }}</li>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'health_professionals:edit_health_professionals' health_professional.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'health_professionals:delete_health_professionals' health_professional.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    <br />
    </div>

{% endblock body %}