
{% extends 'base.html' %}

{% block title %}

Evolução de Pacientes - {{ block.super }}

{% endblock title %}

{% block body %}
{{ block.super }}

<div class="container">
    <br />
    
    <div class="row">
        <div class ="col-md-12" id=gbOpacity>
            <h2><b>Evolução de Pacientes</b></h2>
            <br />
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Paciente</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
<tbody>
                {% for patient in patients %}
                    <tr>
                        <th scope="row">{{ patient }}</th>
                        <td>
                            <a href="{% url 'patient_evolution:list_patient_evolution' patient.id %}" class="btn btn-primary btn-sm">Evolução Paciente</a>
                        </td>
                        <td>
                            <a href="{% url 'ministered_medicines:add_ministered_medicines' patient.id %}" class="btn btn-danger btn-sm ">Ministrar Medicamento</a>
                        </td>
                    </tr> 
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <br/>
</div>


{% endblock body %}