body {
    background: url(/static/img/bg.jpg); 
  }

#gbOpacity{
   opacity: 1;
   /* display:flex; */
   
  background:rgba(255, 255, 255, 0.72);
   
   border-radius: 1%;
}

.navPadding{
    padding-left:20px;
    align-items: right;
}
